
body{
	background: #ddd;
}

table:nth-child(odd){
	background: #eee;
}

.header{
	color: blue;
	
}

.complete{
	text-decoration: line-through;
	color:green;
}

.incomplete{
	color: blue;
}

thead{
	font:red;
}